**/bin
**/obj
**/.vs
**/.vscode
**/.idea
.git
.gitignore
.gitattributes
.editorconfig
.dockerignore
Dockerfile
README.md
*.user
*.suo
.connection-strings.txt
appsettings.Production.json
*.secrets.json
secrets.json
